// BACKGROUND COLOR 
            $bgHeader: #111111;
            $bgStory: #0565bb;
            $bgIssue: #fccb05;
            $bgIssueItems: #ff5500;
            $bgWhite: #ffffff;

    // COLOR SENTENSE 

            $clHeader: #ffffff;
            $clProduct: #f96400;
            $clListItems: #222222;
            $clStory: #fcd32a;
            $clIssue: #110e03;
            $clDiscover: #111111;
            $clFooter: #111111;

    //   FONTSIZE SENTENSE 
            $fsHeader: 14px;
            $fsH5Info: 50px;
            $fsP-info: 20px;
            $fsH5Story: 25px;
            $fsP-Story: 16px;
            $fsThumbnail: 18px;
            
